@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-image: url(img/ajánlott.jpg);
  }
  .header{
      padding: 50px;
    
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #5e82e6;
    position: fixed;
    height: 50%;
    overflow: auto;
  }
  h1{
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Space Mono', monospace;
  }
  h2{
    font-family: 'Space Mono', monospace;
    color: black;
  }
  table{
    color: #343535;
    font-family: 'Anton', sans-serif;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-family: 'Cookie', cursive;
  }
   
  .sidebar a.active {
    background-color: #282f70;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: rgb(97, 96, 184);
    color: #ffffff;
  }
  
  div.content {
    margin-left: 250px;
    padding: 75px 16px;
    height: 1000px;
    color: rgb(128, 255, 0);
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width:100px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}
 .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(138, 129, 146);
      color: rgb(245, 20, 20);
      text-align: center;
   }
   #mySearch {
    min-width:300px;
    font-size: 15px;
    padding: 7.5px;
    margin-top:3% ;
    margin-bottom:1.5% ;
    border-radius: 20px;
  }
.kep{
    height: 40%;
}